.container
  .col-md-12
    %h1= @note.title
    %p= simple_format(@note.content)

    .buttons
      = link_to "All notes", notes_path, class: "btn btn-default"
      = link_to "Edit note", edit_note_path(@note), class: "btn btn-default"
      = link_to "Delete note", note_path(@note), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"

.container-fluid
  %script{:async => "", :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
  / FabulousNote
  %ins.adsbygoogle{"data-ad-client" => "ca-pub-6751047416425015", "data-ad-format" => "auto", "data-ad-slot" => "2199953486", :style => "display:block"}
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});